//
//  oss.xcconfig
//  DailyDozen
//
//  Copyright © 2024 Nutritionfacts.org. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Note:
//     `$(inherited)` was also added to SWIFT_ACTIVE_COMPILATION_CONDITIONS
//     at Targets > DailyDozen > Build Settings for Levels: DailyDozen target
SWIFT_ACTIVE_COMPILATION_CONDITIONS = WITHOUT_ANALYTICS

// :NYI: build configuration management of name & identifier
//PRODUCT_NAME = $(TARGET_NAME)

// Resolves "Error creating LLDB target … using an empty LLDB target…"
// Default: NO
//ONLY_ACTIVE_ARCH = NO
