//
//  oss.xcconfig
//  DailyDozen
//
//  Copyright © 2024 Nutritionfacts.org. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SWIFT_ACTIVE_COMPILATION_CONDITIONS = WITHOUT_ANALYTICS

// Note: In addition, `$(inherited)` was added to SWIFT_ACTIVE_COMPILATION_CONDITIONS
//       at Targets > DailyDozen > Build Settings for Levels: DailyDozen target
