<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dozeBeans</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>60 g of hummus or bean dip</string>
				<string>75 g cooked beans, split peas, lentils, tofu, or tempeh</string>
				<string>63 g of fresh peas or 77g sprouted lentils</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>¼ cup of hummus or bean dip</string>
				<string>½ cup cooked beans, split peas, lentils, tofu, or tempeh</string>
				<string>1 cup of fresh peas or sprouted lentils</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Black beans</key>
				<string>black-beans</string>
			</dict>
			<dict>
				<key>Black-eyed peas</key>
				<string></string>
			</dict>
			<dict>
				<key>Butter beans</key>
				<string></string>
			</dict>
			<dict>
				<key>Cannellini beans</key>
				<string></string>
			</dict>
			<dict>
				<key>Chickpeas</key>
				<string>chickpeas</string>
			</dict>
			<dict>
				<key>Edamame</key>
				<string>edamame</string>
			</dict>
			<dict>
				<key>English peas</key>
				<string></string>
			</dict>
			<dict>
				<key>Garbanzo beans</key>
				<string>garbanzo-beans</string>
			</dict>
			<dict>
				<key>Great northern beans</key>
				<string></string>
			</dict>
			<dict>
				<key>Kidney beans</key>
				<string>kidney-beans</string>
			</dict>
			<dict>
				<key>Lentils (beluga, french, and red varieties)</key>
				<string>lentils</string>
			</dict>
			<dict>
				<key>Miso</key>
				<string>miso</string>
			</dict>
			<dict>
				<key>Navy beans</key>
				<string>navy-beans</string>
			</dict>
			<dict>
				<key>Pinto beans</key>
				<string>pinto-beans</string>
			</dict>
			<dict>
				<key>Small red beans</key>
				<string></string>
			</dict>
			<dict>
				<key>Split peas (yellow or green)</key>
				<string>split-peas</string>
			</dict>
			<dict>
				<key>Tempeh</key>
				<string>tempeh</string>
			</dict>
		</array>
		<key>Topic</key>
		<string>beans</string>
	</dict>
	<key>dozeBerries</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>60 g fresh or frozen</string>
				<string>40 g dried</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>½ cup fresh or frozen</string>
				<string>¼ cup dried</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Acai berries</key>
				<string>acai-berries</string>
			</dict>
			<dict>
				<key>Barberries</key>
				<string>barberries</string>
			</dict>
			<dict>
				<key>Blackberries</key>
				<string>blackberries</string>
			</dict>
			<dict>
				<key>Blueberries</key>
				<string>blueberries</string>
			</dict>
			<dict>
				<key>Cherries (sweet or tart)</key>
				<string>cherries</string>
			</dict>
			<dict>
				<key>Concord grapes</key>
				<string>concord-grapes</string>
			</dict>
			<dict>
				<key>Cranberries</key>
				<string>cranberries</string>
			</dict>
			<dict>
				<key>Goji berries</key>
				<string>goji-berries</string>
			</dict>
			<dict>
				<key>Kumquats</key>
				<string></string>
			</dict>
			<dict>
				<key>Mulberries</key>
				<string></string>
			</dict>
			<dict>
				<key>Raspberries (black or red)</key>
				<string>raspberries</string>
			</dict>
			<dict>
				<key>Strawberries</key>
				<string>strawberries</string>
			</dict>
		</array>
		<key>Topic</key>
		<string>berries</string>
	</dict>
	<key>dozeFruitsOther</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>1 medium-sized fruit</string>
				<string>150 g cut-up fruit</string>
				<string>40 g dried fruit</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>1 medium-sized fruit</string>
				<string>1 cup cut-up fruit</string>
				<string>¼ cup dried fruit</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Apples</key>
				<string>apples</string>
			</dict>
			<dict>
				<key>Dried apricots</key>
				<string>apricots</string>
			</dict>
			<dict>
				<key>Avocados</key>
				<string>avocados</string>
			</dict>
			<dict>
				<key>Bananas</key>
				<string>bananas</string>
			</dict>
			<dict>
				<key>Cantaloupe</key>
				<string>cantaloupe</string>
			</dict>
			<dict>
				<key>Clementines</key>
				<string></string>
			</dict>
			<dict>
				<key>Dates</key>
				<string>dates</string>
			</dict>
			<dict>
				<key>Dried figs</key>
				<string>figs</string>
			</dict>
			<dict>
				<key>Grapefruit</key>
				<string>grapefruit</string>
			</dict>
			<dict>
				<key>Honeydew</key>
				<string></string>
			</dict>
			<dict>
				<key>Kiwifruit</key>
				<string>kiwifruit</string>
			</dict>
			<dict>
				<key>Lemons</key>
				<string>lemons</string>
			</dict>
			<dict>
				<key>Limes</key>
				<string>limes</string>
			</dict>
			<dict>
				<key>Lychees</key>
				<string></string>
			</dict>
			<dict>
				<key>Mangos</key>
				<string>mango</string>
			</dict>
			<dict>
				<key>Nectarines</key>
				<string></string>
			</dict>
			<dict>
				<key>Oranges</key>
				<string>oranges</string>
			</dict>
			<dict>
				<key>Papaya</key>
				<string>papaya</string>
			</dict>
			<dict>
				<key>Passion fruit</key>
				<string></string>
			</dict>
			<dict>
				<key>Peaches</key>
				<string>peaches</string>
			</dict>
			<dict>
				<key>Pears</key>
				<string>pears</string>
			</dict>
			<dict>
				<key>Pineapple</key>
				<string>pineapples</string>
			</dict>
			<dict>
				<key>Plums (especially black plums)</key>
				<string>plums</string>
			</dict>
			<dict>
				<key>Pluots</key>
				<string></string>
			</dict>
			<dict>
				<key>Pomegranates</key>
				<string>pomegranates</string>
			</dict>
			<dict>
				<key>Prunes</key>
				<string>prunes</string>
			</dict>
			<dict>
				<key>Tangerines</key>
				<string></string>
			</dict>
			<dict>
				<key>Watermelon</key>
				<string>watermelon</string>
			</dict>
		</array>
		<key>Topic</key>
		<string>fruit</string>
	</dict>
	<key>dozeVegetablesCruciferous</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>30–80 g chopped</string>
				<string>12 g Brussels or broccoli sprouts</string>
				<string>1 tablespoon horseradish</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>½ cup chopped</string>
				<string>¼ cup Brussels or broccoli sprouts</string>
				<string>1 tablespoon horseradish</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Arugula</key>
				<string></string>
			</dict>
			<dict>
				<key>Bok choy</key>
				<string>bok-choy</string>
			</dict>
			<dict>
				<key>Broccoli</key>
				<string>broccoli</string>
			</dict>
			<dict>
				<key>Brussels sprouts</key>
				<string>brussels-sprouts</string>
			</dict>
			<dict>
				<key>Cabbage</key>
				<string>cabbage</string>
			</dict>
			<dict>
				<key>Cauliflower</key>
				<string>cauliflower</string>
			</dict>
			<dict>
				<key>Collard greens</key>
				<string>collard-greens</string>
			</dict>
			<dict>
				<key>Horseradish</key>
				<string></string>
			</dict>
			<dict>
				<key>Kale (black, green, and red)</key>
				<string>kale</string>
			</dict>
			<dict>
				<key>Mustard greens</key>
				<string>mustard-greens</string>
			</dict>
			<dict>
				<key>Radishes</key>
				<string>radishes</string>
			</dict>
			<dict>
				<key>Turnip greens</key>
				<string>turnips</string>
			</dict>
			<dict>
				<key>Watercress</key>
				<string>watercress</string>
			</dict>
		</array>
		<key>Topic</key>
		<string>cruciferous-vegetables</string>
	</dict>
	<key>dozeGreens</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>60 g raw</string>
				<string>90 g cooked</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>1 cup raw</string>
				<string>½ cup cooked</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Arugula</key>
				<string></string>
			</dict>
			<dict>
				<key>Beet greens</key>
				<string>beet-greens</string>
			</dict>
			<dict>
				<key>Collard greens</key>
				<string>collard-greens</string>
			</dict>
			<dict>
				<key>Kale (black, green, and red)</key>
				<string>kale</string>
			</dict>
			<dict>
				<key>Mesclun mix (assorted young salad greens)</key>
				<string>mesclun-mix</string>
			</dict>
			<dict>
				<key>Mustard greens</key>
				<string>mustard-greens</string>
			</dict>
			<dict>
				<key>Sorrel</key>
				<string></string>
			</dict>
			<dict>
				<key>Spinach</key>
				<string>spinach</string>
			</dict>
			<dict>
				<key>Swiss chard</key>
				<string>swiss-chard</string>
			</dict>
			<dict>
				<key>Turnip greens</key>
				<string>turnips</string>
			</dict>
		</array>
		<key>Topic</key>
		<string>greens</string>
	</dict>
	<key>dozeVegetablesOther</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>60 g raw leafy vegetables</string>
				<string>75 g raw or cooked nonleafy vegetables</string>
				<string>125 ml vegetable juice</string>
				<string>7 g</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>1 cup raw leafy vegetables</string>
				<string>½ cup raw or cooked nonleafy vegetables</string>
				<string>½ cup vegetable juice</string>
				<string>¼ cup dried mushrooms</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Artichokes</key>
				<string>artichokes</string>
			</dict>
			<dict>
				<key>Asparagus</key>
				<string>asparagus</string>
			</dict>
			<dict>
				<key>Beets</key>
				<string>beets</string>
			</dict>
			<dict>
				<key>Bell peppers</key>
				<string>bell-peppers</string>
			</dict>
			<dict>
				<key>Carrots</key>
				<string>carrots</string>
			</dict>
			<dict>
				<key>Corn</key>
				<string>corn</string>
			</dict>
			<dict>
				<key>Garlic</key>
				<string>garlic</string>
			</dict>
			<dict>
				<key>Mushrooms (button, oyster, portobello, and shiitake)</key>
				<string>mushrooms</string>
			</dict>
			<dict>
				<key>Okra</key>
				<string>okra</string>
			</dict>
			<dict>
				<key>Onions</key>
				<string>onions</string>
			</dict>
			<dict>
				<key>Pumpkin</key>
				<string>pumpkin</string>
			</dict>
			<dict>
				<key>Purple potatoes</key>
				<string>purple-potatoes</string>
			</dict>
			<dict>
				<key>Sea vegetables (arame, dulse, and nori)</key>
				<string>sea-vegetables</string>
			</dict>
			<dict>
				<key>Snap peas</key>
				<string></string>
			</dict>
			<dict>
				<key>Squash (delicata, summer, and spaghetti squash varieties)</key>
				<string>squash</string>
			</dict>
			<dict>
				<key>Sweet potatoes/yams</key>
				<string>sweet-potatoes</string>
			</dict>
			<dict>
				<key>Tomatoes</key>
				<string>tomatoes</string>
			</dict>
			<dict>
				<key>Zucchini</key>
				<string>zucchini</string>
			</dict>
		</array>
		<key>Topic</key>
		<string>vegetables</string>
	</dict>
	<key>dozeFlaxseeds</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>1 tablespoon ground</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>1 tablespoon ground</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Brown flaxseeds</key>
				<string></string>
			</dict>
			<dict>
				<key>Golden flaxseeds</key>
				<string></string>
			</dict>
		</array>
		<key>Topic</key>
		<string>flax-seeds</string>
	</dict>
	<key>dozeNuts</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>30 g nuts or seeds</string>
				<string>2 tablespoons nut or seed butter</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>¼ cup nuts or seeds</string>
				<string>2 tablespoons nut or seed butter</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Almonds</key>
				<string>almonds</string>
			</dict>
			<dict>
				<key>Brazil nuts</key>
				<string>brazil-nuts</string>
			</dict>
			<dict>
				<key>Cashews</key>
				<string>cashews</string>
			</dict>
			<dict>
				<key>Chia seeds</key>
				<string>chia-seeds</string>
			</dict>
			<dict>
				<key>Hazelnuts</key>
				<string>hazelnuts</string>
			</dict>
			<dict>
				<key>Hemp seeds</key>
				<string></string>
			</dict>
			<dict>
				<key>Macadamia nuts</key>
				<string>macadamia-nuts</string>
			</dict>
			<dict>
				<key>Pecans</key>
				<string>pecans</string>
			</dict>
			<dict>
				<key>Pistachios</key>
				<string>pistachios</string>
			</dict>
			<dict>
				<key>Pumpkin seeds</key>
				<string>pumpkin-seeds</string>
			</dict>
			<dict>
				<key>Sesame seeds</key>
				<string>sesame-seeds</string>
			</dict>
			<dict>
				<key>Sunflower seeds</key>
				<string>sunflower-seeds</string>
			</dict>
			<dict>
				<key>Walnuts</key>
				<string>walnuts</string>
			</dict>
		</array>
		<key>Topic</key>
		<string>nuts</string>
	</dict>
	<key>dozeSpices</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>¼ teaspoon of turmeric</string>
				<string>Any other (salt-free) herbs and spices you enjoy</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>¼ teaspoon of turmeric</string>
				<string>Any other (salt-free) herbs and spices you enjoy</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Allspice</key>
				<string>allspice</string>
			</dict>
			<dict>
				<key>Barberries</key>
				<string>barberries</string>
			</dict>
			<dict>
				<key>Basil</key>
				<string>basil</string>
			</dict>
			<dict>
				<key>Bay leaves</key>
				<string></string>
			</dict>
			<dict>
				<key>Cardamom</key>
				<string>cardamom</string>
			</dict>
			<dict>
				<key>Chili powder</key>
				<string></string>
			</dict>
			<dict>
				<key>Cilantro</key>
				<string>cilantro</string>
			</dict>
			<dict>
				<key>Cinnamon</key>
				<string>cinnamon</string>
			</dict>
			<dict>
				<key>Cloves</key>
				<string>cloves</string>
			</dict>
			<dict>
				<key>Coriander</key>
				<string>coriander</string>
			</dict>
			<dict>
				<key>Cumin</key>
				<string>cumin</string>
			</dict>
			<dict>
				<key>Curry powder</key>
				<string>curry-powder</string>
			</dict>
			<dict>
				<key>Dill</key>
				<string></string>
			</dict>
			<dict>
				<key>Fenugreek</key>
				<string>fenugreek</string>
			</dict>
			<dict>
				<key>Garlic</key>
				<string>garlic</string>
			</dict>
			<dict>
				<key>Ginger</key>
				<string>ginger</string>
			</dict>
			<dict>
				<key>Horseradish</key>
				<string></string>
			</dict>
			<dict>
				<key>Lemongrass</key>
				<string>lemongrass</string>
			</dict>
			<dict>
				<key>Marjoram</key>
				<string>marjoram</string>
			</dict>
			<dict>
				<key>Mustard powder</key>
				<string>mustard-powder</string>
			</dict>
			<dict>
				<key>Nutmeg</key>
				<string>nutmeg</string>
			</dict>
			<dict>
				<key>Oregano</key>
				<string>oregano</string>
			</dict>
			<dict>
				<key>Parsley</key>
				<string>parsley</string>
			</dict>
			<dict>
				<key>Pepper</key>
				<string>pepper</string>
			</dict>
			<dict>
				<key>Peppermint</key>
				<string>peppermint</string>
			</dict>
			<dict>
				<key>Rosemary</key>
				<string>rosemary</string>
			</dict>
			<dict>
				<key>Saffron</key>
				<string>saffron</string>
			</dict>
			<dict>
				<key>Sage</key>
				<string></string>
			</dict>
			<dict>
				<key>Smoked paprika</key>
				<string></string>
			</dict>
			<dict>
				<key>Thyme</key>
				<string>thyme</string>
			</dict>
			<dict>
				<key>Turmeric</key>
				<string>turmeric</string>
			</dict>
			<dict>
				<key>Vanilla</key>
				<string></string>
			</dict>
		</array>
		<key>Topic</key>
		<string>spices</string>
	</dict>
	<key>dozeWholeGrains</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>100 g hot cereal or cooked grains, pasta, or corn kernels</string>
				<string>50 g cold cereal</string>
				<string>1 tortilla or slice of bread</string>
				<string>½ a bagel or English muffin</string>
				<string>30 g popped popcorn</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>½ cup hot cereal or cooked grains, pasta, or corn kernels</string>
				<string>1 cup cold cereal</string>
				<string>1 tortilla or slice of bread</string>
				<string>½ a bagel or English muffin</string>
				<string>3 cups popped popcorn</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Barley</key>
				<string>barley</string>
			</dict>
			<dict>
				<key>Brown rice</key>
				<string>rice</string>
			</dict>
			<dict>
				<key>Buckwheat</key>
				<string>buckwheat</string>
			</dict>
			<dict>
				<key>Millet</key>
				<string>millet</string>
			</dict>
			<dict>
				<key>Oats</key>
				<string>oats</string>
			</dict>
			<dict>
				<key>Whole-wheat pasta</key>
				<string>pasta</string>
			</dict>
			<dict>
				<key>Popcorn</key>
				<string>popcorn</string>
			</dict>
			<dict>
				<key>Quinoa</key>
				<string>quinoa</string>
			</dict>
			<dict>
				<key>Rye</key>
				<string>rye</string>
			</dict>
			<dict>
				<key>Teff</key>
				<string>teff</string>
			</dict>
			<dict>
				<key>Wild rice</key>
				<string>rice</string>
			</dict>
		</array>
		<key>Topic</key>
		<string>grains</string>
	</dict>
	<key>dozeBeverages</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>One glass (350 ml)</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>One glass (12 ounces)</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Black tea</key>
				<string>black-tea</string>
			</dict>
			<dict>
				<key>Chai tea</key>
				<string>chai-tea</string>
			</dict>
			<dict>
				<key>Vanilla chamomile tea</key>
				<string>chamomile-tea</string>
			</dict>
			<dict>
				<key>Coffee</key>
				<string>coffee</string>
			</dict>
			<dict>
				<key>Earl grey tea</key>
				<string>earl-grey-tea</string>
			</dict>
			<dict>
				<key>Green tea</key>
				<string>green-tea</string>
			</dict>
			<dict>
				<key>Hibiscus tea</key>
				<string>hibiscus-tea</string>
			</dict>
			<dict>
				<key>Hot chocolate</key>
				<string></string>
			</dict>
			<dict>
				<key>Jasmine tea</key>
				<string>jasmine-tea</string>
			</dict>
			<dict>
				<key>Lemon balm tea</key>
				<string></string>
			</dict>
			<dict>
				<key>Matcha tea</key>
				<string>matcha</string>
			</dict>
			<dict>
				<key>Almond blossom oolong tea</key>
				<string>oolong-tea</string>
			</dict>
			<dict>
				<key>Peppermint tea</key>
				<string></string>
			</dict>
			<dict>
				<key>Rooibos tea</key>
				<string>rooibos-tea</string>
			</dict>
			<dict>
				<key>Water</key>
				<string>water</string>
			</dict>
			<dict>
				<key>White tea</key>
				<string>white-tea</string>
			</dict>
		</array>
		<key>Topic</key>
		<string>beverages</string>
	</dict>
	<key>dozeExercise</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>90 minutes of moderate-intensity activity</string>
				<string>40 minutes of vigorous-intensity activity</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>90 minutes of moderate-intensity activity</string>
				<string>40 minutes of vigorous-intensity activity</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Bicycling</key>
				<string></string>
			</dict>
			<dict>
				<key>Canoeing</key>
				<string></string>
			</dict>
			<dict>
				<key>Dancing</key>
				<string></string>
			</dict>
			<dict>
				<key>Dodgeball</key>
				<string></string>
			</dict>
			<dict>
				<key>Downhill skiing</key>
				<string></string>
			</dict>
			<dict>
				<key>Fencing</key>
				<string></string>
			</dict>
			<dict>
				<key>Hiking</key>
				<string></string>
			</dict>
			<dict>
				<key>Housework</key>
				<string></string>
			</dict>
			<dict>
				<key>Ice-skating</key>
				<string></string>
			</dict>
			<dict>
				<key>Inline skating</key>
				<string></string>
			</dict>
			<dict>
				<key>Juggling</key>
				<string></string>
			</dict>
			<dict>
				<key>Jumping on a trampoline</key>
				<string></string>
			</dict>
			<dict>
				<key>Paddle boating</key>
				<string></string>
			</dict>
			<dict>
				<key>Playing frisbee</key>
				<string></string>
			</dict>
			<dict>
				<key>Roller-skating</key>
				<string></string>
			</dict>
			<dict>
				<key>Shooting baskets</key>
				<string></string>
			</dict>
			<dict>
				<key>Shoveling light snow</key>
				<string></string>
			</dict>
			<dict>
				<key>Skateboarding</key>
				<string></string>
			</dict>
			<dict>
				<key>Snorkeling</key>
				<string></string>
			</dict>
			<dict>
				<key>Surfing</key>
				<string></string>
			</dict>
			<dict>
				<key>Swimming recreationally</key>
				<string></string>
			</dict>
			<dict>
				<key>Tennis (doubles)</key>
				<string></string>
			</dict>
			<dict>
				<key>Treading water</key>
				<string></string>
			</dict>
			<dict>
				<key>Walking briskly (4 mph)</key>
				<string></string>
			</dict>
			<dict>
				<key>Water aerobics</key>
				<string></string>
			</dict>
			<dict>
				<key>Waterskiing</key>
				<string></string>
			</dict>
			<dict>
				<key>Yard work</key>
				<string></string>
			</dict>
			<dict>
				<key>Yoga</key>
				<string></string>
			</dict>
			<dict>
				<key>Backpacking</key>
				<string></string>
			</dict>
			<dict>
				<key>Basketball</key>
				<string></string>
			</dict>
			<dict>
				<key>Bicycling uphill</key>
				<string></string>
			</dict>
			<dict>
				<key>Circuit weight training</key>
				<string></string>
			</dict>
			<dict>
				<key>Cross-country skiing</key>
				<string></string>
			</dict>
			<dict>
				<key>Football</key>
				<string></string>
			</dict>
			<dict>
				<key>Hockey</key>
				<string></string>
			</dict>
			<dict>
				<key>Jogging</key>
				<string></string>
			</dict>
			<dict>
				<key>Jumping jacks</key>
				<string></string>
			</dict>
			<dict>
				<key>Jumping rope</key>
				<string></string>
			</dict>
			<dict>
				<key>Lacrosse</key>
				<string></string>
			</dict>
			<dict>
				<key>Push-ups</key>
				<string></string>
			</dict>
			<dict>
				<key>Pull-ups</key>
				<string></string>
			</dict>
			<dict>
				<key>Racquetball</key>
				<string></string>
			</dict>
			<dict>
				<key>Rock climbing</key>
				<string></string>
			</dict>
			<dict>
				<key>Rugby</key>
				<string></string>
			</dict>
			<dict>
				<key>Running</key>
				<string></string>
			</dict>
			<dict>
				<key>Scuba diving</key>
				<string></string>
			</dict>
			<dict>
				<key>Tennis (singles)</key>
				<string></string>
			</dict>
			<dict>
				<key>Soccer</key>
				<string></string>
			</dict>
			<dict>
				<key>Speed skating</key>
				<string></string>
			</dict>
			<dict>
				<key>Squash</key>
				<string></string>
			</dict>
			<dict>
				<key>Step aerobics</key>
				<string></string>
			</dict>
			<dict>
				<key>Swimming laps</key>
				<string></string>
			</dict>
			<dict>
				<key>Walking briskly uphill</key>
				<string></string>
			</dict>
			<dict>
				<key>Water jogging</key>
				<string></string>
			</dict>
		</array>
		<key>Topic</key>
		<string>exercise</string>
	</dict>
	<key>otherVitaminB12</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array/>
			<key>Imperial</key>
			<array/>
		</dict>
		<key>Types</key>
		<array>
			<dict/>
		</array>
		<key>Topic</key>
		<string>vitamin-b12</string>
	</dict>
	<key>otherOmega3</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array/>
			<key>Imperial</key>
			<array/>
		</dict>
		<key>Types</key>
		<array>
			<dict/>
		</array>
		<key>Topic</key>
		<string>omega-3-fatty-acids</string>
	</dict>
	<key>tweakMealWater</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>At Each Meal: 250 ml of cool or cold unflavored water before each meal</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>At Each Meal: 2 cups cool or cold unflavored water before each meal</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Time your metabolism-boosting two cups of cool or cold unflavored water before each meal to also take advantage of its preload benefits.</key>
				<string></string>
			</dict>
		</array>
		<key>Topic</key>
		<string></string>
	</dict>
	<key>tweakMealNegCal</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>At Each Meal: Preload with "Negative Calorie" Foods</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>At Each Meal: Preload with "Negative Calorie" Foods</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>As the first course, start each meal with an apple or a Green Light soup or salad containing fewer than one hundred calories per cup.</key>
				<string></string>
			</dict>
		</array>
		<key>Topic</key>
		<string>TOPIC_ITEM</string>
	</dict>
	<key>tweakMealVinegar</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>At Each Meal: Incorporate 2 tsp Vinegar</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>At Each Meal: Incorporate 2 tsp Vinegar</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Never drink vinegar straight. Instead, flavor meals or dress a side salad with any of the sweet and savory vinegars out there. If you want to drink it, make sure to mix it in a glass of water and, afterward, be sure to rinse your mouth out with water to protect your tooth enamel.</key>
				<string></string>
			</dict>
		</array>
		<key>Topic</key>
		<string>TOPIC_ITEM</string>
	</dict>
	<key>tweakMealUndistracted</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>At Each Meal: Enjoy Undistracted Meals</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>At Each Meal: Enjoy Undistracted Meals</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Don't eat while watching TV or playing on your phone. Give yourself a check for each meal you're able to eat without distraction.</key>
				<string></string>
			</dict>
		</array>
		<key>Topic</key>
		<string>TOPIC_ITEM</string>
	</dict>
	<key>tweakMeal20Minutes</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>At Each Meal: Follow the Twenty-Minute Rule</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>At Each Meal: Follow the Twenty-Minute Rule</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Whether through increasing viscosity or the number of chews, or decreasing bite size and eating rate, dozens of studies have demonstrated that no matter how we boost the amount of time food is in our mouths, it can result in lower caloric intake. So extend meal duration to at least twenty minutes to allow your natural satiety signals to take full effect. How? By choosing foods that take longer to eat and eating them in a way that prolongs the time they stay in your mouth. Think bulkier, harder, chewier foods in smaller, well-chewed bites.</key>
				<string></string>
			</dict>
		</array>
		<key>Topic</key>
		<string>TOPIC_ITEM</string>
	</dict>
	<key>tweakDailyBlackCumin</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>Every Day: Black Cumin (Nigella sativa) (¼ tsp)</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>Every Day: Black Cumin (Nigella sativa) (¼ tsp)</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>As noted in the Appetite Suppression section, a systematic review and meta-analysis of randomized, controlled weight-loss trials found that about a quarter teaspoon of black cumin powder every day appears to reduce body mass index within a span of a couple of months. Note that black cumin is different from regular cumin, for which the dosing is different.</key>
				<string></string>
			</dict>
		</array>
		<key>Topic</key>
		<string>TOPIC_ITEM</string>
	</dict>
	<key>tweakDailyGarlic</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>Every Day: Garlic Powder (¼ tsp)</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>Every Day: Garlic Powder (¼ tsp)</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Randomized, double-blind, placebo-controlled studies have found that as little as a daily quarter teaspoon of garlic powder can reduce body fat at a cost of perhaps two cents a day.</key>
				<string></string>
			</dict>
		</array>
		<key>Topic</key>
		<string>TOPIC_ITEM</string>
	</dict>
	<key>tweakDailyGinger</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>Every Day: Ground Ginger (1 tsp) or Cayenne Pepper (½ tsp)</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>Every Day: Ground Ginger (1 tsp) or Cayenne Pepper (½ tsp)</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Randomized controlled trials have found that ¼ teaspoon to 1½ teaspoons a day of ground ginger significantly decreased body weight for just pennies a day. It can be as easy as stirring the ground spice into a cup of hot water. Note: Ginger may work better in the morning than evening. Chai tea is a tasty way to combine the green tea and ginger tricks into a single beverage.</key>
				<string></string>
			</dict>
			<dict>
				<key>Alternately, for BAT activation, you can add one raw jalapeño pepper or a half teaspoon of red pepper powder (or, presumably, crushed red pepper flakes) into your daily diet. To help beat the heat, you can very thinly slice or finely chop the jalapeño to reduce its bite to little prickles, or mix the red pepper into soup or the whole-food vegetable smoothie I featured in one of my cooking videos on NutritionFacts.org.</key>
				<string></string>
			</dict>
		</array>
		<key>Topic</key>
		<string>TOPIC_ITEM</string>
	</dict>
	<key>tweakDailyNutriYeast</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>Every Day: Nutritional Yeast (2 tsp)</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>Every Day: Nutritional Yeast (2 tsp)</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Two teaspoons of baker's, brewer's, or nutritional yeast contains roughly the amount of beta 1,3/1,6 glucans found in randomized, double-blind, placebo-controlled clinical trials to facilitate weight loss.</key>
				<string></string>
			</dict>
		</array>
		<key>Topic</key>
		<string>TOPIC_ITEM</string>
	</dict>
	<key>tweakDailyCumin</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>Every Day: Cumin (Cuminum cyminum) (½ tsp with lunch and dinner)</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>Every Day: Cumin (Cuminum cyminum) (½ tsp with lunch and dinner)</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Overweight women randomized to add a half teaspoon of cumin to their lunches and dinners beat out the control group by four more pounds and an extra inch off their waists. There is also evidence to support the use of the spice saffron, but a pinch a day would cost a dollar, whereas a teaspoon of cumin costs less than ten cents.</key>
				<string></string>
			</dict>
		</array>
		<key>Topic</key>
		<string>TOPIC_ITEM</string>
	</dict>
	<key>tweakDailyGreenTea</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>Every Day: Green Tea (3 cups)</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>Every Day: Green Tea (3 cups)</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Drink three cups a day between meals (waiting at least an hour after a meal so as to not interfere with iron absorption). During meals, drink water, black coffee, or hibiscus tea mixed 6:1 with lemon verbena, but never exceed three cups of fluid an hour (important given my water preloading advice).</key>
				<string></string>
			</dict>
			<dict>
				<key>Take advantage of the reinforcing effect of caffeine by drinking your green tea along with something healthy you wish you liked more, but don't consume large amounts of caffeine within six hours of bedtime. Taking your tea without sweetener is best, but if you typically sweeten your tea with honey or sugar, try yacon syrup instead.</key>
				<string></string>
			</dict>
		</array>
		<key>Topic</key>
		<string>TOPIC_ITEM</string>
	</dict>
	<key>tweakDailyHydrate</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>Every Day: Stay Hydrated</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>Every Day: Stay Hydrated</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Check this box if your urine never appears darker than a pale yellow. Note that if you're eating riboflavin-fortified foods (such as nutritional yeast), then base this instead on getting nine cups of unsweetened beverages a day for women (which would be taken care of by the green tea and water preloading recommendations) or thirteen cups a day for men.</key>
				<string></string>
			</dict>
			<dict>
				<key>If you have heart or kidney issues, don't increase fluid intake at all without first talking with your physician. Remember, diet soda may be calorie-free, but it's not consequence-free, as we learned in the Low in Added Sugar section.</key>
				<string></string>
			</dict>
		</array>
		<key>Topic</key>
		<string>TOPIC_ITEM</string>
	</dict>
	<key>tweakDailyDeflourDiet</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>Every Day: Deflour Your Diet</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>Every Day: Deflour Your Diet</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Check this box every day your whole grain servings are in the form of intact grains. The powdering of even 100 percent whole grains robs our microbiomes of the starch that would otherwise be ferried down to our colons enclosed in unbroken cell walls.</key>
				<string></string>
			</dict>
		</array>
		<key>Topic</key>
		<string>TOPIC_ITEM</string>
	</dict>
	<key>tweakDailyFrontLoad</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>Every Day: Front-Load Your Calories</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>Every Day: Front-Load Your Calories</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>There are metabolic benefits to distributing more calories to earlier in the day, so make breakfast (ideally) or lunch your largest meal of the day in true king/prince/pauper style.</key>
				<string></string>
			</dict>
		</array>
		<key>Topic</key>
		<string>TOPIC_ITEM</string>
	</dict>
	<key>tweakDailyTimeRestrict</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>Every Day: Time-Restrict Your Eating</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>Every Day: Time-Restrict Your Eating</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Confine eating to a daily window of time of your choosing under twelve hours in length that you can stick to consistently, seven days a week. Given the circadian benefits of reducing evening food intake, the window should end before 7:00 p.m.</key>
				<string></string>
			</dict>
		</array>
		<key>Topic</key>
		<string>TOPIC_ITEM</string>
	</dict>
	<key>tweakExerciseTiming</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>Every Day: Optimize Exercise Timing</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>Every Day: Optimize Exercise Timing</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>The Daily Dozen's recommendation for optimum exercise duration for longevity is ninety minutes of moderately intense activity a day, which is also the optimum exercise duration for weight loss. Anytime is good, and the more, the better, but there may be an advantage to exercising in a fasted state, at least six hours after your last meal. Typically, this would mean before breakfast, but if you timed it right, you could exercise midday before a late lunch or, if lunch is eaten early enough, before dinner. This is the timing for nondiabetics.</key>
				<string></string>
			</dict>
			<dict>
				<key>Diabetics and prediabetics should instead start exercising thirty minutes after the start of a meal and ideally go for at least an hour to completely straddle the blood sugar peak. If you had to choose a single meal to exercise after, it would be dinner, due to the circadian rhythm of blood sugar control that wanes throughout the day. Ideally, though, breakfast would be the largest meal of the day, and you'd exercise after that—or, even better, after every meal.</key>
				<string></string>
			</dict>
		</array>
		<key>Topic</key>
		<string>TOPIC_ITEM</string>
	</dict>
	<key>tweakWeightTwice</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>Every Day: Weigh Yourself Twice a Day</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>Every Day: Weigh Yourself Twice a Day</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Regular self-weighing is considered crucial for long-term weight control, but there is insufficient evidence to support a specific frequency of weighing. My recommendation is based on the one study that found that twice daily (upon waking and right before bed) appeared superior to once a day (about six versus two pounds of weight loss over twelve weeks).</key>
				<string></string>
			</dict>
		</array>
		<key>Topic</key>
		<string>TOPIC_ITEM</string>
	</dict>
	<key>tweakCompleteIntentions</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>Every Day: Complete Your Implementation Intentions</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>Every Day: Complete Your Implementation Intentions</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Every two months, create three new implementation intentions—"if X, then Y" plans to perform a particular behavior in a specific context—and check each one of them off as you complete them every day.</key>
				<string></string>
			</dict>
		</array>
		<key>Topic</key>
		<string>TOPIC_ITEM</string>
	</dict>
	<key>tweakNightlyFast</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>Every Night: Fast After 7:00 p.m.</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>Every Night: Fast After 7:00 p.m.</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Due to our circadian rhythms, food eaten at night is more fattening than the exact same food eaten earlier in the day, so fast every night for at least twelve hours starting before 7:00 p.m. The fewer calories after sundown, the better.</key>
				<string></string>
			</dict>
		</array>
		<key>Topic</key>
		<string>TOPIC_ITEM</string>
	</dict>
	<key>tweakNightlySleep</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>Every Night: Get Sufficient Sleep</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>Every Night: Get Sufficient Sleep</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Check this box if you get at least seven hours of sleep at your regular bedtime.</key>
				<string></string>
			</dict>
		</array>
		<key>Topic</key>
		<string>TOPIC_ITEM</string>
	</dict>
	<key>tweakNightlyTrendelenbrug</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>Every Night: Experiment with Mild Trendelenburg</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>Every Night: Experiment with Mild Trendelenburg</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Try spending at least four hours a night lying with your body tilted head-down six degrees by elevating the posts at the foot of your bed by eight inches (or by nine inches if you have a California king).</key>
				<string></string>
			</dict>
			<dict>
				<key>Be extremely careful when you get out of bed, as this causes orthostatic intolerance in most people, even if you're young and healthy—meaning if you get up too fast, you can feel dizzy, faint, or light-headed and could fall and hurt yourself. So get up slowly. Drinking two cups of cold water thirty minutes before rising may also help prevent this potentially hazardous side effect.</key>
				<string></string>
			</dict>
			<dict>
				<key>IMPORTANT: Do not try this at home at all if you have any heart or lung issues, acid reflux, or problems with your brain (like head trauma) or eyes (even a family history of glaucoma disqualifies you). Also do not try this until you ask your physician if they think it's safe for you to sleep in mild Trendelenburg.</key>
				<string></string>
			</dict>
		</array>
		<key>Topic</key>
		<string>TOPIC_ITEM</string>
	</dict>
</dict>
</plist>
