<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Beans</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>60 g of hummus or bean dip</string>
				<string>130 g cooked beans, split peas, lentils, tofu, or tempeh</string>
				<string>150 g of fresh peas or sprouted lentils</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>¼ cup of hummus or bean dip</string>
				<string>½ cup cooked beans, split peas, lentils, tofu, or tempeh</string>
				<string>1 cup of fresh peas or sprouted lentils</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Black beans</key>
				<string>black-beans</string>
			</dict>
			<dict>
				<key>Black-eyed peas</key>
				<string></string>
			</dict>
			<dict>
				<key>Butter beans</key>
				<string></string>
			</dict>
			<dict>
				<key>Cannellini beans</key>
				<string></string>
			</dict>
			<dict>
				<key>Chickpeas</key>
				<string>chickpeas</string>
			</dict>
			<dict>
				<key>Edamame</key>
				<string>edamame</string>
			</dict>
			<dict>
				<key>English peas</key>
				<string></string>
			</dict>
			<dict>
				<key>Garbanzo beans</key>
				<string>garbanzo-beans</string>
			</dict>
			<dict>
				<key>Great northern beans</key>
				<string></string>
			</dict>
			<dict>
				<key>Kidney beans</key>
				<string>kidney-beans</string>
			</dict>
			<dict>
				<key>Lentils (beluga, french, and red varieties)</key>
				<string>lentils</string>
			</dict>
			<dict>
				<key>Miso</key>
				<string>miso</string>
			</dict>
			<dict>
				<key>Navy beans</key>
				<string>navy-beans</string>
			</dict>
			<dict>
				<key>Pinto beans</key>
				<string>pinto-beans</string>
			</dict>
			<dict>
				<key>Small red beans</key>
				<string></string>
			</dict>
			<dict>
				<key>Split peas (yellow or green)</key>
				<string>split-peas</string>
			</dict>
			<dict>
				<key>Tempeh</key>
				<string>tempeh</string>
			</dict>
		</array>
		<key>Topic</key>
		<string>beans</string>
	</dict>
	<key>Berries</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>60 g fresh or frozen</string>
				<string>40 g dried</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>½ cup fresh or frozen</string>
				<string>¼ cup dried</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Acai berries</key>
				<string>acai-berries</string>
			</dict>
			<dict>
				<key>Barberries</key>
				<string>barberries</string>
			</dict>
			<dict>
				<key>Blackberries</key>
				<string>blackberries</string>
			</dict>
			<dict>
				<key>Blueberries</key>
				<string>blueberries</string>
			</dict>
			<dict>
				<key>Cherries (sweet or tart)</key>
				<string>cherries</string>
			</dict>
			<dict>
				<key>Concord grapes</key>
				<string>concord-grapes</string>
			</dict>
			<dict>
				<key>Cranberries</key>
				<string>cranberries</string>
			</dict>
			<dict>
				<key>Goji berries</key>
				<string>goji-berries</string>
			</dict>
			<dict>
				<key>Kumquats</key>
				<string></string>
			</dict>
			<dict>
				<key>Mulberries</key>
				<string></string>
			</dict>
			<dict>
				<key>Raspberries (black or red)</key>
				<string>raspberries</string>
			</dict>
			<dict>
				<key>Strawberries</key>
				<string>strawberries</string>
			</dict>
		</array>
		<key>Topic</key>
		<string>berries</string>
	</dict>
	<key>Other Fruits</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>1 medium-sized fruit</string>
				<string>120 g cut-up fruit</string>
				<string>40 g dried fruit</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>1 medium-sized fruit</string>
				<string>1 cup cut-up fruit</string>
				<string>¼ cup dried fruit</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Apples</key>
				<string>apples</string>
			</dict>
			<dict>
				<key>Dried apricots</key>
				<string>apricots</string>
			</dict>
			<dict>
				<key>Avocados</key>
				<string>avocados</string>
			</dict>
			<dict>
				<key>Bananas</key>
				<string>bananas</string>
			</dict>
			<dict>
				<key>Cantaloupe</key>
				<string>cantaloupe</string>
			</dict>
			<dict>
				<key>Clementines</key>
				<string></string>
			</dict>
			<dict>
				<key>Dates</key>
				<string>dates</string>
			</dict>
			<dict>
				<key>Dried figs</key>
				<string>figs</string>
			</dict>
			<dict>
				<key>Grapefruit</key>
				<string>grapefruit</string>
			</dict>
			<dict>
				<key>Honeydew</key>
				<string></string>
			</dict>
			<dict>
				<key>Kiwifruit</key>
				<string>kiwifruit</string>
			</dict>
			<dict>
				<key>Lemons</key>
				<string>lemons</string>
			</dict>
			<dict>
				<key>Limes</key>
				<string>limes</string>
			</dict>
			<dict>
				<key>Lychees</key>
				<string></string>
			</dict>
			<dict>
				<key>Mangos</key>
				<string>mango</string>
			</dict>
			<dict>
				<key>Nectarines</key>
				<string></string>
			</dict>
			<dict>
				<key>Oranges</key>
				<string>oranges</string>
			</dict>
			<dict>
				<key>Papaya</key>
				<string>papaya</string>
			</dict>
			<dict>
				<key>Passion fruit</key>
				<string></string>
			</dict>
			<dict>
				<key>Peaches</key>
				<string>peaches</string>
			</dict>
			<dict>
				<key>Pears</key>
				<string>pears</string>
			</dict>
			<dict>
				<key>Pineapple</key>
				<string>pineapples</string>
			</dict>
			<dict>
				<key>Plums (especially black plums)</key>
				<string>plums</string>
			</dict>
			<dict>
				<key>Pluots</key>
				<string></string>
			</dict>
			<dict>
				<key>Pomegranates</key>
				<string>pomegranates</string>
			</dict>
			<dict>
				<key>Prunes</key>
				<string>prunes</string>
			</dict>
			<dict>
				<key>Tangerines</key>
				<string></string>
			</dict>
			<dict>
				<key>Watermelon</key>
				<string>watermelon</string>
			</dict>
		</array>
		<key>Topic</key>
		<string>fruit</string>
	</dict>
	<key>Cruciferous Vegetables</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>30–80 g chopped</string>
				<string>12 g Brussels or broccoli sprouts</string>
				<string>1 tablespoon horseradish</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>½ cup chopped</string>
				<string>¼ cup Brussels or broccoli sprouts</string>
				<string>1 tablespoon horseradish</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Arugula</key>
				<string></string>
			</dict>
			<dict>
				<key>Bok choy</key>
				<string>bok-choy</string>
			</dict>
			<dict>
				<key>Broccoli</key>
				<string>broccoli</string>
			</dict>
			<dict>
				<key>Brussels sprouts</key>
				<string>brussels-sprouts</string>
			</dict>
			<dict>
				<key>Cabbage</key>
				<string>cabbage</string>
			</dict>
			<dict>
				<key>Cauliflower</key>
				<string>cauliflower</string>
			</dict>
			<dict>
				<key>Collard greens</key>
				<string>collard-greens</string>
			</dict>
			<dict>
				<key>Horseradish</key>
				<string></string>
			</dict>
			<dict>
				<key>Kale (black, green, and red)</key>
				<string>kale</string>
			</dict>
			<dict>
				<key>Mustard greens</key>
				<string>mustard-greens</string>
			</dict>
			<dict>
				<key>Radishes</key>
				<string>radishes</string>
			</dict>
			<dict>
				<key>Turnip greens</key>
				<string>turnips</string>
			</dict>
			<dict>
				<key>Watercress</key>
				<string>watercress</string>
			</dict>
		</array>
		<key>Topic</key>
		<string>cruciferous-vegetables</string>
	</dict>
	<key>Greens</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>60 g raw</string>
				<string>90 g cooked</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>1 cup raw</string>
				<string>½ cup cooked</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Arugula</key>
				<string></string>
			</dict>
			<dict>
				<key>Beet greens</key>
				<string>beet-greens</string>
			</dict>
			<dict>
				<key>Collard greens</key>
				<string>collard-greens</string>
			</dict>
			<dict>
				<key>Kale (black, green, and red)</key>
				<string>kale</string>
			</dict>
			<dict>
				<key>Mesclun mix (assorted young salad greens)</key>
				<string>mesclun-mix</string>
			</dict>
			<dict>
				<key>Mustard greens</key>
				<string>mustard-greens</string>
			</dict>
			<dict>
				<key>Sorrel</key>
				<string></string>
			</dict>
			<dict>
				<key>Spinach</key>
				<string>spinach</string>
			</dict>
			<dict>
				<key>Swiss chard</key>
				<string>swiss-chard</string>
			</dict>
			<dict>
				<key>Turnip greens</key>
				<string>turnips</string>
			</dict>
		</array>
		<key>Topic</key>
		<string>greens</string>
	</dict>
	<key>Other Vegetables</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>60 g raw leafy vegetables</string>
				<string>50 g raw or cooked nonleafy vegetables</string>
				<string>125 ml vegetable juice</string>
				<string>7 g</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>1 cup raw leafy vegetables</string>
				<string>½ cup raw or cooked nonleafy vegetables</string>
				<string>½ cup vegetable juice</string>
				<string>¼ cup dried mushrooms</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Artichokes</key>
				<string>artichokes</string>
			</dict>
			<dict>
				<key>Asparagus</key>
				<string>asparagus</string>
			</dict>
			<dict>
				<key>Beets</key>
				<string>beets</string>
			</dict>
			<dict>
				<key>Bell peppers</key>
				<string>bell-peppers</string>
			</dict>
			<dict>
				<key>Carrots</key>
				<string>carrots</string>
			</dict>
			<dict>
				<key>Corn</key>
				<string>corn</string>
			</dict>
			<dict>
				<key>Garlic</key>
				<string>garlic</string>
			</dict>
			<dict>
				<key>Mushrooms (button, oyster, portobello, and shiitake)</key>
				<string>mushrooms</string>
			</dict>
			<dict>
				<key>Okra</key>
				<string>okra</string>
			</dict>
			<dict>
				<key>Onions</key>
				<string>onions</string>
			</dict>
			<dict>
				<key>Pumpkin</key>
				<string>pumpkin</string>
			</dict>
			<dict>
				<key>Purple potatoes</key>
				<string>purple-potatoes</string>
			</dict>
			<dict>
				<key>Sea vegetables (arame, dulse, and nori)</key>
				<string>sea-vegetables</string>
			</dict>
			<dict>
				<key>Snap peas</key>
				<string></string>
			</dict>
			<dict>
				<key>Squash (delicata, summer, and spaghetti squash varieties)</key>
				<string>squash</string>
			</dict>
			<dict>
				<key>Sweet potatoes/yams</key>
				<string>sweet-potatoes</string>
			</dict>
			<dict>
				<key>Tomatoes</key>
				<string>tomatoes</string>
			</dict>
			<dict>
				<key>Zucchini</key>
				<string>zucchini</string>
			</dict>
		</array>
		<key>Topic</key>
		<string>vegetables</string>
	</dict>
	<key>Flaxseeds</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>1 tablespoon ground</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>1 tablespoon ground</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Brown flaxseeds</key>
				<string></string>
			</dict>
			<dict>
				<key>Golden flaxseeds</key>
				<string></string>
			</dict>
		</array>
		<key>Topic</key>
		<string>flax-seeds</string>
	</dict>
	<key>Nuts</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>30 g nuts or seeds</string>
				<string>2 tablespoons nut or seed butter</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>¼ cup nuts or seeds</string>
				<string>2 tablespoons nut or seed butter</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Almonds</key>
				<string>almonds</string>
			</dict>
			<dict>
				<key>Brazil nuts</key>
				<string>brazil-nuts</string>
			</dict>
			<dict>
				<key>Cashews</key>
				<string>cashews</string>
			</dict>
			<dict>
				<key>Chia seeds</key>
				<string>chia-seeds</string>
			</dict>
			<dict>
				<key>Hazelnuts</key>
				<string>hazelnuts</string>
			</dict>
			<dict>
				<key>Hemp seeds</key>
				<string></string>
			</dict>
			<dict>
				<key>Macadamia nuts</key>
				<string>macadamia-nuts</string>
			</dict>
			<dict>
				<key>Pecans</key>
				<string>pecans</string>
			</dict>
			<dict>
				<key>Pistachios</key>
				<string>pistachios</string>
			</dict>
			<dict>
				<key>Pumpkin seeds</key>
				<string>pumpkin-seeds</string>
			</dict>
			<dict>
				<key>Sesame seeds</key>
				<string>sesame-seeds</string>
			</dict>
			<dict>
				<key>Sunflower seeds</key>
				<string>sunflower-seeds</string>
			</dict>
			<dict>
				<key>Walnuts</key>
				<string>walnuts</string>
			</dict>
		</array>
		<key>Topic</key>
		<string>nuts</string>
	</dict>
	<key>Spices</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>¼ teaspoon of turmeric</string>
				<string>Any other (salt-free) herbs and spices you enjoy</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>¼ teaspoon of turmeric</string>
				<string>Any other (salt-free) herbs and spices you enjoy</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Allspice</key>
				<string>allspice</string>
			</dict>
			<dict>
				<key>Barberries</key>
				<string>barberries</string>
			</dict>
			<dict>
				<key>Basil</key>
				<string>basil</string>
			</dict>
			<dict>
				<key>Bay leaves</key>
				<string></string>
			</dict>
			<dict>
				<key>Cardamom</key>
				<string>cardamom</string>
			</dict>
			<dict>
				<key>Chili powder</key>
				<string></string>
			</dict>
			<dict>
				<key>Cilantro</key>
				<string>cilantro</string>
			</dict>
			<dict>
				<key>Cinnamon</key>
				<string>cinnamon</string>
			</dict>
			<dict>
				<key>Cloves</key>
				<string>cloves</string>
			</dict>
			<dict>
				<key>Coriander</key>
				<string>coriander</string>
			</dict>
			<dict>
				<key>Cumin</key>
				<string>cumin</string>
			</dict>
			<dict>
				<key>Curry powder</key>
				<string>curry-powder</string>
			</dict>
			<dict>
				<key>Dill</key>
				<string></string>
			</dict>
			<dict>
				<key>Fenugreek</key>
				<string>fenugreek</string>
			</dict>
			<dict>
				<key>Garlic</key>
				<string>garlic</string>
			</dict>
			<dict>
				<key>Ginger</key>
				<string>ginger</string>
			</dict>
			<dict>
				<key>Horseradish</key>
				<string></string>
			</dict>
			<dict>
				<key>Lemongrass</key>
				<string>lemongrass</string>
			</dict>
			<dict>
				<key>Marjoram</key>
				<string>marjoram</string>
			</dict>
			<dict>
				<key>Mustard powder</key>
				<string>mustard-powder</string>
			</dict>
			<dict>
				<key>Nutmeg</key>
				<string>nutmeg</string>
			</dict>
			<dict>
				<key>Oregano</key>
				<string>oregano</string>
			</dict>
			<dict>
				<key>Parsley</key>
				<string>parsley</string>
			</dict>
			<dict>
				<key>Pepper</key>
				<string>pepper</string>
			</dict>
			<dict>
				<key>Peppermint</key>
				<string>peppermint</string>
			</dict>
			<dict>
				<key>Rosemary</key>
				<string>rosemary</string>
			</dict>
			<dict>
				<key>Saffron</key>
				<string>saffron</string>
			</dict>
			<dict>
				<key>Sage</key>
				<string></string>
			</dict>
			<dict>
				<key>Smoked paprika</key>
				<string></string>
			</dict>
			<dict>
				<key>Thyme</key>
				<string>thyme</string>
			</dict>
			<dict>
				<key>Turmeric</key>
				<string>turmeric</string>
			</dict>
			<dict>
				<key>Vanilla</key>
				<string></string>
			</dict>
		</array>
		<key>Topic</key>
		<string>spices</string>
	</dict>
	<key>Whole Grains</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>100 g hot cereal or cooked grains, pasta, or corn kernels</string>
				<string>50 g cold cereal</string>
				<string>1 tortilla or slice of bread</string>
				<string>½ a bagel or English muffin</string>
				<string>30 g popped popcorn</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>½ cup hot cereal or cooked grains, pasta, or corn kernels</string>
				<string>1 cup cold cereal</string>
				<string>1 tortilla or slice of bread</string>
				<string>½ a bagel or English muffin</string>
				<string>3 cups popped popcorn</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Barley</key>
				<string>barley</string>
			</dict>
			<dict>
				<key>Brown rice</key>
				<string>rice</string>
			</dict>
			<dict>
				<key>Buckwheat</key>
				<string>buckwheat</string>
			</dict>
			<dict>
				<key>Millet</key>
				<string>millet</string>
			</dict>
			<dict>
				<key>Oats</key>
				<string>oats</string>
			</dict>
			<dict>
				<key>Whole-wheat pasta</key>
				<string>pasta</string>
			</dict>
			<dict>
				<key>Popcorn</key>
				<string>popcorn</string>
			</dict>
			<dict>
				<key>Quinoa</key>
				<string>quinoa</string>
			</dict>
			<dict>
				<key>Rye</key>
				<string>rye</string>
			</dict>
			<dict>
				<key>Teff</key>
				<string>teff</string>
			</dict>
			<dict>
				<key>Wild rice</key>
				<string>rice</string>
			</dict>
		</array>
		<key>Topic</key>
		<string>grains</string>
	</dict>
	<key>Beverages</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>One glass (350 ml)</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>One glass (12 ounces)</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Black tea</key>
				<string>black-tea</string>
			</dict>
			<dict>
				<key>Chai tea</key>
				<string>chai-tea</string>
			</dict>
			<dict>
				<key>Vanilla chamomile tea</key>
				<string>chamomile-tea</string>
			</dict>
			<dict>
				<key>Coffee</key>
				<string>coffee</string>
			</dict>
			<dict>
				<key>Earl grey tea</key>
				<string>earl-grey-tea</string>
			</dict>
			<dict>
				<key>Green tea</key>
				<string>green-tea</string>
			</dict>
			<dict>
				<key>Hibiscus tea</key>
				<string>hibiscus-tea</string>
			</dict>
			<dict>
				<key>Hot chocolate</key>
				<string></string>
			</dict>
			<dict>
				<key>Jasmine tea</key>
				<string>jasmine-tea</string>
			</dict>
			<dict>
				<key>Lemon balm tea</key>
				<string></string>
			</dict>
			<dict>
				<key>Matcha tea</key>
				<string>matcha</string>
			</dict>
			<dict>
				<key>Almond blossom oolong tea</key>
				<string>oolong-tea</string>
			</dict>
			<dict>
				<key>Peppermint tea</key>
				<string></string>
			</dict>
			<dict>
				<key>Rooibos tea</key>
				<string>rooibos-tea</string>
			</dict>
			<dict>
				<key>Water</key>
				<string>water</string>
			</dict>
			<dict>
				<key>White tea</key>
				<string>white-tea</string>
			</dict>
		</array>
		<key>Topic</key>
		<string>beverages</string>
	</dict>
	<key>Exercise</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array>
				<string>90 minutes of moderate-intensity activity</string>
				<string>40 minutes of vigorous-intensity activity</string>
			</array>
			<key>Imperial</key>
			<array>
				<string>90 minutes of moderate-intensity activity</string>
				<string>40 minutes of vigorous-intensity activity</string>
			</array>
		</dict>
		<key>Types</key>
		<array>
			<dict>
				<key>Bicycling</key>
				<string></string>
			</dict>
			<dict>
				<key>Canoeing</key>
				<string></string>
			</dict>
			<dict>
				<key>Dancing</key>
				<string></string>
			</dict>
			<dict>
				<key>Dodgeball</key>
				<string></string>
			</dict>
			<dict>
				<key>Downhill skiing</key>
				<string></string>
			</dict>
			<dict>
				<key>Fencing</key>
				<string></string>
			</dict>
			<dict>
				<key>Hiking</key>
				<string></string>
			</dict>
			<dict>
				<key>Housework</key>
				<string></string>
			</dict>
			<dict>
				<key>Ice-skating</key>
				<string></string>
			</dict>
			<dict>
				<key>Inline skating</key>
				<string></string>
			</dict>
			<dict>
				<key>Juggling</key>
				<string></string>
			</dict>
			<dict>
				<key>Jumping on a trampoline</key>
				<string></string>
			</dict>
			<dict>
				<key>Paddle boating</key>
				<string></string>
			</dict>
			<dict>
				<key>Playing frisbee</key>
				<string></string>
			</dict>
			<dict>
				<key>Roller-skating</key>
				<string></string>
			</dict>
			<dict>
				<key>Shooting baskets</key>
				<string></string>
			</dict>
			<dict>
				<key>Shoveling light snow</key>
				<string></string>
			</dict>
			<dict>
				<key>Skateboarding</key>
				<string></string>
			</dict>
			<dict>
				<key>Snorkeling</key>
				<string></string>
			</dict>
			<dict>
				<key>Surfing</key>
				<string></string>
			</dict>
			<dict>
				<key>Swimming recreationally</key>
				<string></string>
			</dict>
			<dict>
				<key>Tennis (doubles)</key>
				<string></string>
			</dict>
			<dict>
				<key>Treading water</key>
				<string></string>
			</dict>
			<dict>
				<key>Walking briskly (4 mph)</key>
				<string></string>
			</dict>
			<dict>
				<key>Water aerobics</key>
				<string></string>
			</dict>
			<dict>
				<key>Waterskiing</key>
				<string></string>
			</dict>
			<dict>
				<key>Yard work</key>
				<string></string>
			</dict>
			<dict>
				<key>Yoga</key>
				<string></string>
			</dict>
			<dict>
				<key>Backpacking</key>
				<string></string>
			</dict>
			<dict>
				<key>Basketball</key>
				<string></string>
			</dict>
			<dict>
				<key>Bicycling uphill</key>
				<string></string>
			</dict>
			<dict>
				<key>Circuit weight training</key>
				<string></string>
			</dict>
			<dict>
				<key>Cross-country skiing</key>
				<string></string>
			</dict>
			<dict>
				<key>Football</key>
				<string></string>
			</dict>
			<dict>
				<key>Hockey</key>
				<string></string>
			</dict>
			<dict>
				<key>Jogging</key>
				<string></string>
			</dict>
			<dict>
				<key>Jumping jacks</key>
				<string></string>
			</dict>
			<dict>
				<key>Jumping rope</key>
				<string></string>
			</dict>
			<dict>
				<key>Lacrosse</key>
				<string></string>
			</dict>
			<dict>
				<key>Push-ups</key>
				<string></string>
			</dict>
			<dict>
				<key>Pull-ups</key>
				<string></string>
			</dict>
			<dict>
				<key>Racquetball</key>
				<string></string>
			</dict>
			<dict>
				<key>Rock climbing</key>
				<string></string>
			</dict>
			<dict>
				<key>Rugby</key>
				<string></string>
			</dict>
			<dict>
				<key>Running</key>
				<string></string>
			</dict>
			<dict>
				<key>Scuba diving</key>
				<string></string>
			</dict>
			<dict>
				<key>Tennis (singles)</key>
				<string></string>
			</dict>
			<dict>
				<key>Soccer</key>
				<string></string>
			</dict>
			<dict>
				<key>Speed skating</key>
				<string></string>
			</dict>
			<dict>
				<key>Squash</key>
				<string></string>
			</dict>
			<dict>
				<key>Step aerobics</key>
				<string></string>
			</dict>
			<dict>
				<key>Swimming laps</key>
				<string></string>
			</dict>
			<dict>
				<key>Walking briskly uphill</key>
				<string></string>
			</dict>
			<dict>
				<key>Water jogging</key>
				<string></string>
			</dict>
		</array>
		<key>Topic</key>
		<string>exercise</string>
	</dict>
	<key>Vitamin B12</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array/>
			<key>Imperial</key>
			<array/>
		</dict>
		<key>Types</key>
		<array>
			<dict/>
		</array>
		<key>Topic</key>
		<string>vitamin-b12</string>
	</dict>
	<key>Vitamin D</key>
	<dict>
		<key>Sizes</key>
		<dict>
			<key>Metric</key>
			<array/>
			<key>Imperial</key>
			<array/>
		</dict>
		<key>Types</key>
		<array>
			<dict/>
		</array>
		<key>Topic</key>
		<string>vitamin-d-supplements</string>
	</dict>
</dict>
</plist>
